h1 {
    text-align: center;
    margin-bottom: 50px;
}

h1 span {
    font-weight: 900;
}

body {
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    align-items: flex-start;
    grid-template-areas: 'next game'
    'score game';
}

.game-area {
    border: solid black;
    border-width: 0 2px 3px 2px;
    display: block;
}

.results {
    border: solid black;
    border-width: 4px 6px 4px 6px;
    background-color: red;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}